body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #0d0208;
    color: #00ff00;
    margin: 0;
    padding: 0;
}
.upload-button {
    padding: 10px 20px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

.upload-button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background: rgba(13, 2, 8, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    color: #00ff00;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    color: #00ff00;
}

table, th, td {
    border: 1px solid #00ff00;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #001f00;
}

tr:nth-child(even) {
    background-color: #001f00;
}

.clear-button {
    background-color: #ff0000;
    color: #00ff00;
    border: 1px solid #00ff00;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.clear-button:hover {
    background-color: #ff3333;
    transform: scale(1.05);
}

.clear-button:focus {
    outline: none;
    box-shadow: 0 0 5px #00ff00;
}


